h1 Form Login
    br
    h3#alert
    br
    input#mail(type="text" placeholder="Email")
    input#pass(type="password" placeholder="*********")
    button#btn-login Login
script( src = "https://unpkg.com/axios/dist/axios.min.js" )
script( src = "main.js" )